*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
}

#menu{
    height: 50%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu > *{
    padding: 2%;
    margin : 1%;
    background: none;
    border: none;
    font-family: "Waiting for the Sunrise", cursive;
    font-size: large;
}

#menu > *:hover{
    background: #0088cc;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 2px 24px rgb(54, 106, 202);
    font-size: x-large;
}

#details{
    height: 100vh;
    width: 80%;
    background: linear-gradient(90deg,white,#0088cc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 5vw;
    text-shadow: 3px 3px #0088cc;
    font-family: "Waiting for the Sunrise", cursive;
    animation: rad 3s linear infinite,glow 0.6s ease-in-out infinite alternate,glowt 0.5s ease-in-out infinite alternate;
    box-shadow: 2px 2px 34px rgb(212, 203, 69);
    border-radius: 50%;
    white-space: nowrap;
}

#maya{
    animation: up-down 3s linear infinite;
    position: relative;
    max-width: 50vw;
    max-height: 50vw;
}

@keyframes up-down{
    0% {top:0px;}
    24% {top:20px;}
    50% {top:50px;}
    74% {top:20px;}
    100% {top:0px}
  }

/* @keyframes typing{
    0%{width: 0%;}
    20%{width: 30%;}
    50%{width: 70%;}
    80%{width: 30%;}
    100%{width: 0%;}
} */

@keyframes rad{
    0%{padding: 0px 0px;}
   20%{padding: 0px 30px;}
   50%{padding: 0px 70px;}
   80%{padding: 0px 30px;}
  100%{padding: 0px 0px;}
}

@keyframes glow{
    from{
        box-shadow: 13px 8px 10px #0088cc,13px 8px 20px #0088cc,13px 8px 30px #0088cc;
    }
    to{
        box-shadow: 8px 8px 20px rgb(238, 238, 238), 13px 8px 30px #0088cc,13px 8px 40px cyan;
    }
}

@keyframes glowt{
    from{
        text-shadow: 13px 8px 10px #0088cc,13px 8px 20px #0088cc,13px 8px 30px #0088cc;
    }
    to{
        text-shadow: 8px 8px 20px rgb(238, 238, 238), 13px 8px 30px #0088cc,13px 8px 40px cyan;
    }
}