*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(90deg,#2e70d3,white);		
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

}

#intro{
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    text-align: center;
}

#sitename{
    font-size: 5rem;
    text-shadow: 13px 8px #0088cc;
}


#form{
    /* background: radial-gradient(circle at 100% 50%, transparent 50%,#2e70d3 ) 0px 10% no-repeat; */
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 70%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 60%;
    box-shadow: 10px 5px 34px;
}

div form > *{
    border: 1px solid green;
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 90%;
    position: relative;
    left: 60%;
}

#showpass{
    padding: 0px;
    border: none;
}

#toogle{
    margin-right: 6px ;
}


#login,#signup{
    display: inline;
    width: 30%;
    padding: 10px 0px;
    color: white;
    background-color: #0088cc ;
    font-weight: bold;
}

div input:hover{
    box-shadow: 1px 2px 8px ;
}

#login:hover,#signup:hover{
    box-shadow: 1px 2px 14px rgb(42, 116, 226);
}